/unicenta/nbproject/private/
/unicenta/build/build
dist
build
*.log
*.jar
!lib/*.jar
parsec/*
!parsec/src/**
locales/beans_messages_de.properties
locales/data_messages_de.properties
locales/erp_messages_de.properties
locales/pos_messages_de.properties
TAGS
